* {
  font-family: monospace;
}

.header {
  margin: auto;
  padding: 5px;
  text-align: center;
}

.app-body{
  width: 100%;
  height:fit-content;
  display: inline-flex;
  padding: 5px;
  justify-content: center;
}


.background-box {
    width: 325px;
    height: 500px;
    overflow: hidden;
    margin-right: 20px;
    box-sizing: border-box;
    background: #FCFCFE;
    border: 3px solid #000000;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }


  /* INPUT HEADER */

.container1{
  margin: auto;
  width: 100%;
  padding: 5px 2px 5px 10px;
  display: inline-flex;

}

.income {
  width: 60%;
  font-weight: 600;
  font-size: 32px;
  color: #00BCD4;
}

.switch-icon {
  size: 50%;
  }


  /* AMOUNT */
  .container2{
    margin: auto;
    width: 100%;
    padding: 5px 2px 5px 10px;
    display: inline-flex;
  }

  .amount{
    width:30%;
  }
  .amount-money {
    width: 60%;
  }


/*CATEGORY*/

.container3{
  margin: auto;
  width: 100%;
  padding: 5px 2px 5px 10px;
  display: inline-flex;
}

.catetory{
  width: 30%;
}
.category-select {
  width: 60%;
}

/*DATE*/

.container4{
  margin: auto;
  width: 100%;
  padding: 5px 2px 5px 10px;
  display: inline-flex;
}

.date{
  width: 30%;
}

#date {
  width: 60%;
  font-size: 14px;
}

/*ACCOUNT*/
.container5{
  margin: auto;
  width: 100%;
  padding: 5px 2px 5px 10px;
  display: inline-flex;
}

.account{
  width: 30%;
}
.account-select {
  width: 60%;
}

/*NOTE*/

.container6{
  margin: auto;
  width: 100%;
  padding: 5px 2px 5px 10px;
  display: inline-flex;
}

.note {
  width: 30%;
}

#note{
  width: 60%;
}


/*Submit button*/
.container7{
  margin: auto;
  width: 100%;
  padding: 20px 2px 20px 10px;
  text-align: center;
}

.submit-button {
  font-size: 20px;
  border-radius: 12px;
  transition-duration: 0.4s;
  background-color: #F7C04A;
  width: 100px;
  height: 50px;
}

.submit-button:hover{
  background-color: #539165;
  color: white;
}


/*Transaction Table*/

.transaction-table {
  height: 500px;
  float:right;
  padding-right: 5px;
  overflow: auto;
  padding-left: 20px;
} 


#table{
  border-collapse: collapse;
  border: 0.5px solid black;
  background: #F7EFE5;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}


#table thead tr td {
  text-align: center;
  font-size: 16px;
  border: 0.5px solid #000000;
  background-color: #F0A04B;
  color: white;
  height: 50px;
  padding: 2px;
  width: auto;
}




#table tbody tr td {
  border: 0.5px solid black;
  text-align: left;
  font-size: 12px;
  width: 100px;
  height: 50px;
  padding-left: 10px;
}


